/* --------------------- GENERALES ---------------------*/
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: whitesmoke;
}

header {
  background-color: #1d2d44;
}

.navbar-logo {
  margin-left: 30px;
}

.logo {
  display: flex;
  margin: 10px;
  height: 70px;
}
.nav-link {
  color: white;
}
.navbar-nav .nav-link {
  margin-right: 30px;
}

#navbarNavAltMarkup a:hover {
  font-weight: bolder;
  color: whitesmoke;
}

#navbarNavAltMarkup {
  justify-content: end;
  font-size: 1.2rem;
}

footer {
  background-color: #1d2d44;
  height: auto;
}

.copyright {
  text-align: center;
  color: white;
  padding: 10px;
}

.gmail {
  text-align: center;
  padding: 10px;
}

.gmail a {
  color: white;
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.social-media a img {
  height: 30px;
  margin-left: 15px;
}

/* --------------------- ESTILOS INDEX ---------------------*/

/* --------------------- ESTILOS TIENDA ---------------------*/

.row {
  padding: 10px;
}
.row p {
  text-align: center;
  font-size: 1.5rem;
}
.row p::first-line {
  font-weight: 700;
}
.bestsellers {
  font-size: small;
  font-weight: 600;
  color: #1d2d44;
}
.new-in {
  font-size: small;
  font-weight: 600;
  color: #1d2d44;
}

/* --------------------- ESTILOS NOSOTROS ---------------------*/

.h2-nosotros {
  margin-top: 30px;
  font-weight: bold;
  font-size: 35px;
  padding: 20px;
  text-align: center;
}

.about-us {
  margin: 50px 100px;
  text-align: center;
}

.about-us p {
  padding: 20px;
  font-size: 20px;
}

#parrafos {
  font-size: large;
  text-align: center;
  margin-bottom: 30px;
}
#parrafos p {
  margin-top: 15px;
}
