// colors

$color-primary: #1d2d44;
$color-secondary: #f9f7f0;
$color-tertiary: #e1e0d3;
$color-quarter: #3e5c76;
$font-color-primary: #000;
$font-color-secondary: #fff;

// fonts

$font-sm: 1rem;
$font-m: 1.5rem;
$font-l: 2rem;
$font-xl: 3rem;
