.copyright {
  text-align: center;
  color: white;
  padding: 10px;
}

.gmail {
  text-align: center;
  margin-top: 50px;

  a {
    color: white;
    text-decoration: none;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  padding-top: 60px;

  a {
    margin-left: 20px;
    img {
      height: 30px;
    }
  }
}
