footer {
  background-color: #1d2d44;
  height: auto;
}

.copyright {
  text-align: center;
  color: white;
  padding: 10px;
}

.gmail {
  text-align: center;
  padding: 10px;

  a {
    color: white;
    text-decoration: none;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  img {
    height: 30px;
    margin-left: 15px;
  }
}
