.form {
  width: 340px;
  height: 440px;
  background: $color-secondary;
  border-radius: 5px;
  box-shadow: 0 0 30px -10px $color-primary;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
}

.h2Contact {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: $color-primary;
  border-bottom: 3px solid $color-primary;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid $color-primary;
}

input:focus {
  border-bottom: 2px solid $color-primary;
}

.formText:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 1.5rem;
  color: $color-primary;
}

.sendButton {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  background: 0;
  cursor: pointer;
  transition: all 0.4s;
}

.sendButton:hover {
  background: $color-primary;
  color: $color-secondary;
}

.contactUs {
  content: "Hi";
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: $color-primary;
  color: $color-secondary;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px $color-primary;
}

span {
  margin: 0 5px 0 15px;
}
