.proximamente {
  margin-top: 200px;
  margin-bottom: 60px;
  font-size: 50px;
  font-weight: 900;
  color: $color-primary;
}

.textConstruccion {
  font-size: 20px;
  font-weight: 600;
}

.QR-spotify {
  height: 300px;
  width: auto;
  margin-top: 80px;
  margin-bottom: 200px;
}
